@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');


body{
    margin: .8em;
    background-position: -10em -20em;
    background-size: 150em ,120%;
    font-family: 'Josefin Sans', sans-serif;
    background-repeat: no-repeat, repeat;
    background-image: url(../img/bg.png), linear-gradient(to right, #244929 0%, #a48a51 100%);
    background-blend-mode: soft-light;
}

.cv-site-1{  
    .cv-site{
        border: solid .15em transparent;
        border-radius: .5em;
        backdrop-filter: blur(15px);
        
        hr {
            width: 95%;
            background-color: #3f3f3f7a;
            filter: drop-shadow(16px 16px 10px black);
        }
        
        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            filter: drop-shadow(8px 8px 15px black);
            
            .portfolio{
                font-size: 2em;
                text-decoration: none;
                color: black;
                transform-origin: 50% 65%;
                transition: transform 1s, filter 3s ease-in-out;
                filter: brightness(150%);
                &:hover{
                    filter: brightness(100%);
                    transform: scale(1.3);
                }
            }

            .logoTjp {
                width: 10em;
                margin: 2.5em;
                transform-origin: 50% 65%;
                transition: transform 1s, filter 3s ease-in-out;
                filter: brightness(150%);
                &:hover{
                    filter: brightness(100%);
                    transform: scale(1.3);
                }
            }
        
            .redes{
                margin: 2.5em;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 50em;
                
                .logoLinked {
                    width: 4em;
                    transform-origin: 50% 65%;
                    transition: transform 1s, filter 3s ease-in-out;
                    filter: brightness(150%);
                    &:hover{
                        filter: brightness(100%);
                        transform: scale(1.3);
                    }
                }
                
                .logoGithub{
                    width: 7em;
                    transform-origin: 50% 65%;
                    transition: transform 1s, filter 3s ease-in-out;
                    filter: brightness(150%);
                    &:hover{
                        filter: brightness(100%);
                        transform: scale(1.3);
                    }
                }
            }
        }

        .body {
            display: flex;
            margin: 2%;
            
            .textBody{
                width: 50%;
                margin-right: 15%;
                
                .name{
                    font-size: 5em;
                    margin-bottom: -3%;
                }

                .degree{
                    font-weight: 300;
                    font-size: 3em;
                }

                .description{
                    font-weight: 300;
                    font-size: 2em;
                    line-height: 160%;
                    text-align: justify;
                }
            }

            .buttonsBody{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                width: 25%;
                margin: 2%;

                .cvButton{
                    background: transparent;
                    font-family: 'Josefin Sans', sans-serif;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    padding: .3em;
                    border: solid black .05em;
                    border-radius: .2em;
                    font-weight: 700;
                    font-size: 2em;
                    text-decoration: none;
                    transform-origin: 50% 65%;
                    transition: transform 1s, filter 3s ease-in-out;
                    filter: brightness(150%);
                    &:hover{
                        filter: brightness(100%);
                        transform: scale(1.1);
                    }
                }

                .certButton{
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    padding: .3em;
                    border: solid black .05em;
                    border-radius: .2em;
                    font-weight: 700;
                    font-size: 2em;
                    text-decoration: none;
                    transform-origin: 50% 65%;
                    transition: transform 1s, filter 3s ease-in-out;
                    filter: brightness(150%);
                    &:hover{
                        filter: brightness(100%);
                        transform: scale(1.1);
                    }
                }

                .contactButton{
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    padding: .3em;
                    border: solid black .05em;
                    border-radius: .2em;
                    font-weight: 700;
                    font-size: 2em;
                    text-decoration: none;
                    transform-origin: 50% 65%;
                    transition: transform 1s, filter 3s ease-in-out;
                    filter: brightness(150%);
                    &:hover{
                        filter: brightness(100%);
                        transform: scale(1.1);
                    }
                }
            }
        }

        .portfolioBody{
            display: flex;
            align-items: center;
            padding: 2%;
            
            .tituloBtg {
                font-size: 3em;
                margin-left: 25%;
            }

            .benoniTeam{
                margin-left: 20%;
                width: 60%;
                border: solid .2em black;
                border-radius: .5em;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                &:hover{
                    -webkit-filter: grayscale(0);
	                filter: grayscale(0);
                    }
                }
            

            .tituloBte{
                font-size: 3em;
                margin-left: 22%;
            }

            .benoniApp{
                width: 70%;
                margin-left: 15%;
                border: solid .2em black;
                border-radius: .5em;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                &:hover{
                    -webkit-filter: grayscale(0);
	                filter: grayscale(0);
                    }
                }
            }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-top:  20em;
        }
    }
}

// .swal2-title{
//     font-size: 2.5em !important;
// }

// .swal2-html-container {
//     font-size: 2em !important;
// }

// .swal2-footer {
//     border-top: none !important;
//     font-size: 2em !important;
//     margin-top: .1em !important;
// }